.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin-left: 20px;
    background-color: #8a4baf;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    color: white;
    /* Text color is white for all elements inside .box */
    width: 200px;
    height: 150px;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #432456;
}

.box p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    /* Ensure the text inside <p> is white */
}

.box p:nth-of-type(2) {
    font-size: 24px;
    font-weight: normal;
    margin-top: 10px;
}